Abra o console do navegador

<br><b>Estudos listas encadeadas em js</b>

<script>
    class No {
        constructor(elemento) {
            this.elemento = elemento;
            this.proximo = undefined;
        }
    }

    class ListaEncadeada {
        constructor() {
            this.head = undefined;
        }

        insertFirst(elemento) {
            const novo = new No(elemento);
            let atual;
            if (!this.head) {
                this.head = novo;
            } else {
                atual = this.head;
                novo.próximo = atual;
                this.head = novo;
            }
            return elemento;
        }

        insertLast(elemento) {
            //cria-se um novo Nó com o elemento informado
            const novo = new No(elemento);
            //variável para controle do elemento atual lido
            let atual;
            //verifica se o elemento atual é 
            if (!this.head) {
                this.head = novo;
            } else {
                atual = this.head;
                while (atual.proximo) {
                    atual = atual.proximo;
                }
                atual.proximo = novo;
            }
            return elemento;
        }

        searchAt(posicao) {
            let atual = this.head;
            for (let i = 0; i < posicao && atual; i++) {
                atual = atual.proximo;
            }
            return atual;
        }

        insertAt(elemento, posicao) {
            const novo = new No(elemento);
            if (posicao == 0) {
                this.insertFirst(elemento);
            } else {
                const anterior = this.searchAt(posicao - 1);
                const atual = anterior.proximo;
                novo.proximo = atual;
                anterior.proximo = novo;
            }
            return elemento;
        }

        traversal() {
            if (!this.head) {
                return undefined;
            } else {
                let atual = this.head;
                let elementosLista = [];
                while (atual) {
                    elementosLista.push(atual.elemento);
                    atual = atual.proximo;
                }
                return elementosLista;
            }
        }
        deleteAt(posicao) {
            let atual = this.head;
            if (posicao == 0) {
                this.head = atual.proximo;
            } else {
                let anterior = atual;
                for (let i = 0; i < proximo; i++) {
                    anterior = atual;
                    atual = atual.proximo;
                }
                anterior.proximo = ataual.proximo;
            }
            return posicao;
        }
    }

    const trem = new ListaEncadeada;
    const itenAdd = trem.insertFirst('Locomotiva');
    console.log(itenAdd);

    console.table(trem);

    console.log(trem.insertLast('Vagão 1'));
    console.log(trem.insertLast('Vagão 2'));
    console.log(trem.insertLast('Vagão 3'));
    console.log(trem.insertLast('Vagão 4'));

    console.table(trem);
/*
            console.log(trem.searchAt(3));
        
            console.log(trem.insertFirst('Vagão de manobra'));
        
            console.table(trem.traversal());
        */


</script>